<div class="footer-address-wrapper">
  <p class="footer-address-paragraph"><perch:content id="businessName" type="text" label="Business Name"></p>
  <p class="footer-address-paragraph" itemprop="streetAddress"><perch:content id="footerAddressOne" type="text" label="Address Line One" ></p>
  <p class="footer-address-paragraph" itemprop="streetAddress"><perch:content id="footerAddressTwo" type="text" label="Address Line Two"></p>
  <p class="footer-address-paragraph" itemprop="addressLocality"><perch:content id="footerAddressTown" type="text" label="Town"></p>
  <p class="footer-address-paragraph" itemprop="addressRegion"><perch:content id="footerAddressCounty" type="text" label="County"></p>
  <p class="footer-address-paragraph" itemprop="postalCode"><perch:content id="footerAddressPostcode" type="text" label="Postcode"></p>
</div>