<div class="cookie-warning-wrapper">
  <div class="cookie-warning-text-wrapper">
    <p class="cookie-warning-paragraph">
      <perch:content id="cookieWarningText" type="text" label="Cookie Warning Text" required>
        <a tabindex="1" href="<perch:content id="cookieWarningLink" type="text" label="Cookie Information Link" required>" class="cookie-warning-link">
            <perch:content id="cookieWarningLinkText" type="text" label="Cookie Information Link Text" required>
        </a>
    </p>
  </div>
  <button class="cookie-warning-button" tabindex="2" aria-label="Dismiss cookie banner"><perch:content id="cookieWarningButton" type="text" size="m" label="Cookie Warning Button Text"  required></button>
</div>